main {
    max-width: -webkit-fill-available;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.checkout-form p {
    width: 100%;
    margin-bottom: 0;
}

label {
    align-self: flex-start;
}

fieldset {
    border: 1px solid #b6b6b6;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;

    margin-top: 20px;
    width: -webkit-fill-available;
}

legend {
    padding: 0 10px;
    color: var(--dark-primary);
    font-weight: bold;
}

.btn-success {
    margin-top: 0;
    margin-bottom: 10%;
}

/* DESKTOP */
@media (min-width: 600px) {
    /* .checkout-form {
        display: flex;
    } */

    main {
        max-width: -webkit-fill-available;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main section{
        width: -webkit-fill-available;
        max-width: 49%;
    }

    .google-map {
        margin-top: 13% !important;
    }
}