/* Execute `npm run dev` from terminal to start vite (which loads the css) */
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --bone: #f9f5f3;
    --beige: #dbc7b7;
    --brown: #593b35;
    --dark-brown: #2f1d1b;
}

body {
    background-color: var(--bone);
    padding: 0;
    margin: 0;
    font-family: Raleway, sans-serif;
    color: var(--dark-brown);
}
nav {
    background-color: var(--beige);
    padding: 1% 5%;
}
nav h1 {
    font-size: 2rem;
}
main{
    padding: 5% 10%;
}
main header{
    display: flex;
    flex-direction: row-reverse;
}

h1 {
    color: var(--brown);
    font-family: Rakkas, cursive;
    font-size: 3rem;
    line-height: 3rem;
    margin: 0;
}

a {
    color: var(--brown);
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}
