.products-list {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
}
li { list-style: none; }
li.product {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border: #a1a1a1 1px solid;
    min-width: 45%;
}
.card-title-container {
    width: 100%;
    margin-top: 60%;
    padding: 20px;
    background: linear-gradient(to top, black, transparent);
    color: white;
    p { margin: 0; }
    a { color: white; }
    a:hover { font-weight: bold; }
}

.promotion {
    margin: 5% 0;
}
.promotion .banner {
    height: 200px;
    border-radius: 15px;
}

.search {
    background: #a5eae5;
    padding: 0 2%;
    border-radius: 100px;
    display: flex;
    gap: 2%;
    select {
        width: 35%;
    }
    input {
        width: 65%;
    }
}
select, input {
    background: transparent;
    border: none;
    color: #1b4446;
    padding: 1% 2%;
    font-family: Raleway;
}
input:focus { outline: none; }

