section {
    margin: 10px;
}
.profile-section-card {
    border: lightgray 1px solid;
    border-radius: 10px;
    padding: 10px;
}
.profile-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}